* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

header{
    margin: 20px 20px 20px 20px;
}

h2{
    margin: 15px 10px 10px 10px;
}

div {
border: 5px solid rgb(9, 0, 128);
margin: 100px;
}

form input {
margin: 10px;
width: 35%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
}

form button {
padding: 10px;
margin-bottom: 15px;
background-color: rgb(76, 163, 76);
color: beige;
font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(211, 221, 166);
}

